%h1.page-title Holidays 2022
%ul.breadcrumb
  %li.breadcrumb-item
    %a{:href => "dashboard"} Dashboard
  %li.breadcrumb-item.active Holidays
  .col-auto.float-end.ms-auto
    %div= link_to "Add Holidays", new_holiday_path, class: "btn btn-primary", data: { turbo_frame: "remote_modal" }
%br
  .row
    .col-md-12
      .table-responsive
        %table.table.table-striped.table-nowrap.custom-table.mb-0.datatable
          %thead
            %tr
              %th Title
              %th Holiday Date
              %th Day
              %th.text-right Actions
          %tbody
            - @all_holiday.each do |holiday|
              %tr{:scope => "row"}
                %td= holiday['name']
                %td= DateTime.parse(holiday['date']).next_year(1).to_time.strftime('%F')
                %td= DateTime.parse(holiday['date']).next_year(1).to_time.strftime('%A')
                %td.text-end
            - @holidays.each do |item|
              %tr{:scope => "row"}
                %td
                  = item.name
                %td
                  = item.date.strftime('%F')
                %td
                  = item.date.strftime('%A')
                %td.text-end
                  = link_to "Edit", edit_holiday_path(item), class: "btn btn-success btn-sm", data: { turbo_frame: "remote_modal" }
                  = link_to "Delete", item, class: "btn btn-danger btn-sm", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" }
    .row
      .col-sm-12.col-md-5
        
      .col-sm-12.col-md-7.py-3
        #DataTables_Table_0_paginate.dataTables_paginate.paging_simple_numbers
          != pagy_bootstrap_nav(@pagy)